
@import "tailwindcss";

@font-face {
    font-family: 'font1';
    src: url('/Fonts/Lausanne-300.woff2') format('woff2');
}

@font-face {
    font-family: 'font2';
    src: url('/Fonts/Lausanne-500.woff2') format('woff2');
}

body {
    background-color: black;
}
